                        body {
                            background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                        }
                        
                        h1 {
                            text-align: center;
                            font-size: 4rem;
                        }
                        
                        #countdown {
                            background-color: white;
                            /* width: 100%; */
                            text-align: center;
                            font-size: 4rem;
                            margin-right: 50rem;
                            margin-left: 50rem;
                            border: solid black;
                        }